- content_for :title do
  Apply | Comapny Name
%section#page
  .row
    .large-12.columns
      %h1
        Apply
  .row
    .large-10.columns{role: "content"}
      %h3
        Ruby Developer
      .row
        .large-10.columns
          %h4.location
            %a{href: "#"} Ambition
            (Chattanooga, TN)
      .row
        .large-10.columns
          %p
            Posted: June 12, 2014 | Job Type: Full Time
          %hr
  .row
    .large-10.columns{role: "content"}
      %h3
        Job Description:
      .row
        .large-10.columns
          %p
            The Ambition team prides itself on building fast, responsive and engaging web applications. Building dynamic and rich web apps is no easy task, and we’re looking for a Ruby Developer to help push our online applications as far as they can go.
  .row
    .large-10.columns{role: "content"}
      %h3
        What we are looking for:
      .row
        .large-10.columns
          %ul
            %li You enjoy crafting great software.
            %li When building software, you tend to have the users’ experience in mind.
            %li You have a strong understanding of Ruby.
            %li Have a broad range of interests when it comes to development.
            %li Can sling together a JOIN or two in SQL.
            %li Understand the benefits of writing tests.
            %li Have a bias towards shipping software. You understand technical debt and why it is sometimes necessary.
            %li Are either in or moving to Chattanooga (preferred), or are particularly great at working remotely.
            %li Are a good communicator and enjoy working with teams of smart folks.
  .row
    .large-10.columns{role: "content"}
      %h3
        Benefits:
      .row
        .large-10.columns
          %ul
            %li An Employee Development Program, including a budget for conferences and classes.
            %li Creative outlets for side projects, including hackathons and lab days.
            %li Competitive salaries, great health insurance, and a 401k plan.
            %li The opportunity to work with new and emerging technologies.
            %li A flexible schedule in terms of work hours and location. We also offer relocation stipends.
            %li We have a culture of collaboration and mentorship. We are always helping one another – someone almost always has the answer for any question you’ve got.
            %li VIP Access to select music events.
            %li Weekly company lunch.
  .row
    .large-10.columns{role: "content"}
      %h3
        About Ambition:
      .row
        .large-10.columns
          %p
            Ambition was built for Sales Companies. Think of it as Fantasy Football for your Salesforce. We provide real time analytics & insights, while simultaneously motivating your Sales people. Ambition codifies your business, clearly spells out ways to succeed, and empowers your team members through friendly competition. Maximize employee productivity and engagement in the workplace while improving office culture. Measure. Motivate. Compete. Repeat.
          %p
            Our culture is open and entrepreneurial. Entertainment is fun, and we think work should be too.
  .row
    .large-10.columns{role: "content"}
      %h3
        How to apply:
      .row
        .large-10.columns
          %p
            Please send a short note introducing yourself and why this position appeals to you. Include a resume, and links to code samples and a link to a portfolio if you have one.
          %p
            Applicants must be authorized to work in the United States.
          %a.button{href: "#"} Apply to this job
          %a.button{href: "/pages/jobs"} Back to job board
  %footer
    .row
      .large-12.columns
        %hr/
        .row
          .large-6.columns
            %p © Copyright no one at all. Go to town.
          .large-6.columns
            %ul.inline-list.right
              %li
                %a{href: "#"} About
              %li
                %a{href: "#"} Jobs
              %li
                %a{href: "#"} Twitter