%footer
  .row
    .small-8.columns
      %p
        Created by
        %a{:href => "http://twitter.com/tonigemayel"} Toni Gemayel,
        %a{:href => "http://twitter.com/tjweigel"} TJ Weigel
        and our awesome
        %a{:href => "https://github.com/Tgemayel/Nooga-Startups/graphs/contributors"} contributors.
    .small-4.colums